<!DOCTYPE HTML>
<html lang="<%= config.language %>">
<%- partial('_partial/head') %>

<body>
    <%- partial('_partial/header') %>
    <%- body %>

    <%- partial('_partial/footer') %>

    <%- partial('_partial/search') %>
    <%- partial('_partial/back-top') %>

    <%- js(theme.libs.js.materialize) %>
    <%- js(theme.libs.js.masonry) %>
    <%- js(theme.libs.js.aos) %>
    <%- js(theme.libs.js.scrollProgress) %>
    <%- js(theme.libs.js.lightgallery) %>
    <%- js('/js/matery.js') %>

    <%- partial('_partial/google-analytics') %>
    <% if (theme.clicklove.enable) { %>
    <script src="<%- url_for(theme.libs.js.clicklove) %>" async></script>
    <% } %>
    <% if (theme.busuanziStatistics && theme.busuanziStatistics.enable) { %>
    <script src="<%- url_for(theme.libs.js.busuanzi) %>" async></script>
    <% } %>
    <% if (theme.ribbon_dynamic.enable) { %>
    <script src="<%- url_for(theme.libs.js.ribbon_dynamic) %>" async></script>
    <% } %>
    <% if (theme.instantpage.enable) { %>
    <script src="<%- url_for(theme.libs.js.instantpage) %>" type="module"></script>
    <% } %>

</body>

</html>
